:root {
  --accent-color: #a9d49f;
  --secondary-color: #272142;
  --primary-font-family: "Jost", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 90px;
  font-family: var(--primary-font-family);
}

.hero {
  text-align: center;
  background-color: rgba(60, 85, 51, 0.05);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: var(--secondary-font-family);
}

.hero h2 {
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--secondary-font-family);
  color: var(--primary-font-family);
}

.content {
  margin: 30px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  line-height: 1.4;
}

.content h3 {
  font-size: 24px;
  font-family: var(--secondary-font-family);
}
.content p {
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}

.btn-start {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--secondary-font-family);
  padding: 10px 25px;
  line-height: 25px;
}

.container {
  margin-top: 120px;
  max-width: 100%;
}

.btn-branding-outline {
  line-height: 25px;
  padding: 10px 25px;
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.project-details {
  padding: 120px 60px;
}

.head-shot {
  border-radius: 20%;
  height: 450px;
}

.inquiry-box {
  max-width: 1320px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.work-inquiry {
  background-color: rgba(60, 85, 51, 0.05);
  padding: 30px;
  border-radius: 10px;
}

.work-inquiry a {
  margin-top: 15px;
}

.email-link {
  transition: all 200ms ease-in-out;
  color: var(--secondary-color);
  text-decoration: none;

  font-family: var(--secondary-font-family);
}

.email-link:hover {
  color: var(--accent-color);
}

.social-links a {
  color: var(--accent-color);
  background-color: rgba(60, 85, 51, 0.05);
  padding: 20px;
  border-radius: 100%;
  margin: 0 20px;
  transition: all 200ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--accent-color);
}

.container-header {
  max-width: 100% !important;
  padding: 0 60px;
}

.logo {
  display: inline;
  line-height: 42px;
  font-weight: 900;
  font-family: var(--secondary-font-family);
  font-size: 40px;
}

.contact-description {
  padding: 0 200px 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}

footer {
  margin: 120px 0;
  text-align: center;
}

.content a img {
  transition: all 200ms ease-in;
}

.content a img:hover {
  transform: scale(0.9);
  opacity: 0.9;
}

@media (max-width: 960px) {
  .project-details {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .content-container {
    margin: 0;
    padding: 80px 0;
  }
  h1 {
    line-height: 1;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content-container .content h1 {
    font-size: 71px;
    text-align: center;
  }
  .content h1 {
    text-align: left;
    font-size: 45px;
  }
  .head-shot {
    display: block;
    margin: 0 auto;
  }

  footer {
    margin: 0;
    width: 100%;
  }
  .container-header {
    padding: 0 15px;
  }
  .logo {
    font-size: 30px;
  }
  .contact-description {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
