:root {
  --accent-color: #a9d49f;
  --secondary-color: #272142;
  --primary-font-family: "Jost", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 90px;
  font-family: var(--primary-font-family);
}

.hero {
  text-align: center;
  background-color: rgba(60, 85, 51, 0.05);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  font-family: var(--secondary-font-family);
}

.hero h2 {
  line-height: 2;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--secondary-font-family);
  color: var(--primary-font-family);
}

.btn-start {
  background-color: var(--accent-color);
  color: white;
  font-family: var(--secondary-font-family);
  padding: 10px 25px;
  line-height: 25px;
}

.container {
  margin-top: 120px;
}

.btn-branding {
  line-height: 25px;
  padding: 10px 25px;
  font-family: var(--secondary-font-family);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.project-details {
  padding: 120px 60px;
}

.about-description {
  padding: 160px 20px;
}

.about-description h2 {
  line-height: 1.4;
}

.about-details {
  margin: 30px;
}

.head-shot {
  border-radius: 100%;
  height: 450px;
}

@media (max-width: 960px) {
  .project-details {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  h1 {
    line-height: 1;
  }
  .about-details {
    text-align: center;
    padding: 0;
  }
  .about-details h1 {
    font-size: 71px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
